html { scroll-behavior: smooth; 
       font-family: sans-serif; }

body { box-sizing: border-box;
       margin: 0;
       padding: 2rem; }

.ten-second-summary-list-item-indentation { margin-left: -1.3rem; }

.indentation-level-one { margin-left: -2.5rem; }

.indentation-level-two { margin-left: -0.5rem; }

.indentation-level-three { margin-left: 1rem; }

.indentation-level-four { margin-left: 3.4rem; }

.section-padding-top { padding-top: 2rem; }

.non-bulleted-list { list-style: none; }