html { scroll-behavior: smooth; }

body { box-sizing: border-box;
       margin: 0;
       padding: 2rem; }

.indentation-level-one { margin-left: -0.5rem; }

.indentation-level-two { margin-left: 1rem; }

.indentation-level-three { margin-left: 3.4rem; }

.non-bulleted-list { list-style: none; }